* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
}

#nav {
  height: 10vh;
  width: 100%;
  /* background-color: blueviolet; */
  margin-top: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  /* background-color: beige; */
  height: 100%;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -2px;
}

#nav h2 {
  /* background-color: beige; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 23px;
  font-weight: 500;
}

#nav h2:nth-last-child(1) {
  width: 8%;
}
#nav h2:nth-last-child(2) {
  width: 30%;
}

#content {
  background-color: aqua;
  height: 86.4%;
  width: 100%;
  padding: 50px;
}

#content-player {
  background-color: blue;
  height: 100%;
  width: 100%;
}
